$blue: #375E97;
$yellow: #FFBB00;


html, body {
  margin: 0;
  background-color: $yellow;
  font-family: "Courier New", Courier, monospace;
  overflow: hidden;
}
input:focus {
  outline: none;
}
.indexPage {
  border: 3px solid magenta;
  padding: 2em;
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  animation: spin 4s linear infinite;
}

// @keyframes spin { 100% { transform: translate(-50%, -50%) rotate(360deg); } }
.login {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-width: 400px;

  &__name-input {
    color: $blue;
    background-color: transparent;
    font-size: 48px;
    border: none;
    text-align: center;
    border-bottom: 2px solid $blue;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
  }
  &__start-button {
    text-align: center;
    background: $blue;
    color: $yellow;
    text-decoration: none;
    padding: 15px 25px;
    padding-top: 19px;
    font-size: 28px;
    border-radius: 5px;
    width: calc(100% - 50px);
    display: block;
    text-transform: uppercase;
  }
  &__btn-wrapper {
    margin: 20px 60px;
  }
}

.game-menu {
  &__quit {
    position: absolute;
    bottom: 100px;
    right: 100px;
    z-index: 2;
  }
}